<a href="https://colab.research.google.com/github/arumugammani02/Assignment-/blob/main/assignment_1_and_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment 1**

In [1]:
import pandas as pd

In [2]:
column_names=['Sex', 'Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight', 'Viscera weight', 'Shell weight', 'Rings']

In [3]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data', names = column_names)

In [4]:
df

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [6]:
#Df.shape
df.shape

(4177, 9)

In [7]:
df.head(10)

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7
5,I,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.120,8
6,F,0.530,0.415,0.150,0.7775,0.2370,0.1415,0.330,20
7,F,0.545,0.425,0.125,0.7680,0.2940,0.1495,0.260,16
8,M,0.475,0.370,0.125,0.5095,0.2165,0.1125,0.165,9
9,F,0.550,0.440,0.150,0.8945,0.3145,0.1510,0.320,19

In [33]:
df.tail(10)

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings,Total_weight
4167,M,0.500,0.380,0.125,0.5770,0.2690,0.1265,0.1535,9,1.1260
4168,F,0.515,0.400,0.125,0.6150,0.2865,0.1230,0.1765,8,1.2010
4169,M,0.520,0.385,0.165,0.7910,0.3750,0.1800,0.1815,10,1.5275
4170,M,0.550,0.430,0.130,0.8395,0.3155,0.1955,0.2405,10,1.5910
4171,M,0.560,0.430,0.155,0.8675,0.4000,0.1720,0.2290,8,1.6685
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11,1.7450
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,1.8800
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,2.2970
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,2.1825
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,3.7655

In [8]:
#Check the data types of values in each column.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sex             4177 non-null   object
 1   Length          4177 non-null   float64
 2   Diameter        4177 non-null   float64
 3   Height          4177 non-null   float64
 4   Whole weight    4177 non-null   float64
 5   Shucked weight  4177 non-null   float64
 6   Viscera weight  4177 non-null   float64
 7   Shell weight    4177 non-null   float64
 8   Rings           4177 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

In [10]:
df.isnull().sum()

Sex               0
Length            0
Diameter          0
Height            0
Whole weight      0
Shucked weight    0
Viscera weight    0
Shell weight      0
Rings             0
dtype: int64

In [12]:
#Access elements using loc and iloc.
X = df.iloc[:, 0:-1]

In [14]:
X

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550
...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950

In [25]:
df.loc[[1,2,3,4,5]]

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings,Total_weight
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7,0.4435
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9,1.2850
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10,1.0005
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7,0.3890
5,I,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.120,8,0.6900

In [28]:
df.loc[[1,2,3,4,5],["Length","Height"]]

   Length  Height
1   0.350   0.090
2   0.530   0.135
3   0.440   0.125
4   0.330   0.080
5   0.425   0.095

In [15]:
y = df.iloc[:, -1]

In [16]:
y

0       15
1        7
2        9
3       10
4        7
        ..
4172    11
4173    10
4174     9
4175    10
4176    12
Name: Rings, Length: 4177, dtype: int64

In [17]:
df['Sex'].unique()

array(['M', 'F', 'I'], dtype=object)

In [18]:
df['Sex'].nunique()

3

In [19]:
df['Length'].mean()

0.5239920995930094

In [20]:
df['Total_weight']=df.iloc[:, 4:8].sum(axis=1)

In [21]:
df

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings,Total_weight
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,0.9895
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7,0.4435
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9,1.2850
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10,1.0005
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7,0.3890
...,...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11,1.7450
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,1.8800
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,2.2970
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,2.1825
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,3.7655

In [22]:
#drop this column just created.
df.drop(['Whole weight', 'Shucked weight',	'Viscera weight',	'Shell weight'], axis=1)

     Sex  Length  Diameter  Height  Rings  Total_weight
0      M   0.455     0.365   0.095     15        0.9895
1      M   0.350     0.265   0.090      7        0.4435
2      F   0.530     0.420   0.135      9        1.2850
3      M   0.440     0.365   0.125     10        1.0005
4      I   0.330     0.255   0.080      7        0.3890
...   ..     ...       ...     ...    ...           ...
4172   F   0.565     0.450   0.165     11        1.7450
4173   M   0.590     0.440   0.135     10        1.8800
4174   M   0.600     0.475   0.205      9        2.2970
4175   F   0.625     0.485   0.150     10        2.1825
4176   M   0.710     0.555   0.195     12        3.7655

[4177 rows x 6 columns]

In [30]:
#Check if there are missing values. If yes, which column.
df_missing = df.isna()
df_missing.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings,Total_weight
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False

In [31]:
df_missing.dtypes

Sex               bool
Length            bool
Diameter          bool
Height            bool
Whole weight      bool
Shucked weight    bool
Viscera weight    bool
Shell weight      bool
Rings             bool
Total_weight      bool
dtype: object

In [32]:
df_missing.mean()

Sex               0.0
Length            0.0
Diameter          0.0
Height            0.0
Whole weight      0.0
Shucked weight    0.0
Viscera weight    0.0
Shell weight      0.0
Rings             0.0
Total_weight      0.0
dtype: float64

# **Assignment 2**

In [39]:
def counter(x):
  N=sorted(set(x))
  D={}
  for i in N:
    D.update({i:x.count(i)})
  return D

In [40]:
counter([3, 4, 2, 1, 5, 1, 2, 4, 3, 4])

{1: 2, 2: 2, 3: 2, 4: 3, 5: 1}